#searchspring-price_input .price-input-row input, #searchspring-price_input .price-input-row span {
  float: left;
}
#searchspring-price_input .price-input-row input {
  width: 28%;
}
#searchspring-price_input .price-input-row span {
  display: block;
  width: 10%;
  margin: 5px 1% 0 1%;
  text-align: center;
}
#searchspring-price_input .price-input-row input[type='submit'] {
  margin: 0 0 0 4%;
}
#searchspring-price_input .price-input-row input[type='submit'][disabled='disabled'], #searchspring-price_input .price-input-row input[type='submit'][disabled='disabled']:hover {
  cursor: not-allowed;
}
#searchspring-price_input .price-error {
  clear: both;
  margin: 10px 0 0 0;
  background: #ffffa5;
  border: 1px solid #fff5a5;
  padding: 10px;
}
