// Function to create an optimized svg url
// From: http://codepen.io/jakob-e/pen/doMoML
@function svg-url($svg) {
	// Add missing namespace
	@if not str-index($svg,xmlns) {
		$svg: str-replace($svg, '<svg','<svg xmlns="http://www.w3.org/2000/svg"');
	}
	// Chunk up string in order to avoid "stack level too deep" error
	$encoded:'';
	$slice: 2000;
	$index: 0;
	$loops: ceil(str-length($svg)/$slice);
	@for $i from 1 through $loops {
		$chunk: str-slice($svg, $index, $index + $slice - 1);
		// Encode
		$chunk: str-replace($chunk,'"', '\'');
		$chunk: str-replace($chunk,'%', '%25');
		$chunk: str-replace($chunk,'&', '%26');
		$chunk: str-replace($chunk,'#', '%23');
		$chunk: str-replace($chunk,'{', '%7B');
		$chunk: str-replace($chunk,'}', '%7D');
		$chunk: str-replace($chunk,'<', '%3C');
		$chunk: str-replace($chunk,'>', '%3E');
		// The maybe list
		// Keep size and compile time down ... only add on documented fail
		//
		// $chunk: str-replace($chunk, '|', '%7C');
		// $chunk: str-replace($chunk, '[', '%5B');
		// $chunk: str-replace($chunk, ']', '%5D');
		// $chunk: str-replace($chunk, '^', '%5E');
		// $chunk: str-replace($chunk, '`', '%60');
		// $chunk: str-replace($chunk, ';', '%3B');
		// $chunk: str-replace($chunk, '?', '%3F');
		// $chunk: str-replace($chunk, ':', '%3A');
		// $chunk: str-replace($chunk, '@', '%40');
		// $chunk: str-replace($chunk, '=', '%3D');
		$encoded: #{$encoded}#{$chunk};
		$index: $index + $slice;
	}
	@return url("data:image/svg+xml,#{$encoded}");
}

//  Helper function to replace characters in a string
@function str-replace($string, $search, $replace: '') {
	$index: str-index($string, $search);
	@return if($index,
		str-slice($string, 1, $index - 1) + $replace +
		str-replace(str-slice($string, $index +
		str-length($search)), $search, $replace),
		$string);
}

// Define icon mamp
$icon-map: (
	angle-down: (
		path: 'M33.594 23c0 .25-.125.53-.312.72L18.72 38.28c-.19.188-.47.312-.72.312s-.53-.125-.72-.312L2.72 23.72c-.188-.19-.312-.47-.312-.72s.125-.53.312-.72l1.562-1.56c.188-.19.438-.313.72-.313.25 0 .53.125.718.312L17.998 33 30.28 20.72c.188-.19.47-.313.72-.313s.53.125.718.312l1.562 1.56c.188.19.312.47.312.72z',
		viewport: 36 56
	),
	angle-left: (
		path: 'M19.594 17c0 .25-.125.53-.312.72L7.002 30l12.28 12.28c.188.19.312.47.312.72s-.125.53-.312.72l-1.562 1.56c-.188.19-.47.313-.72.313s-.53-.125-.718-.312L1.72 30.72c-.19-.188-.313-.47-.313-.72s.125-.53.312-.718L16.28 14.717c.188-.188.47-.312.72-.312s.53.125.718.312l1.562 1.562c.188.187.312.437.312.718z',
		viewport: 21 56
	),
	angle-right: (
		path: 'M18.594 30c0 .25-.125.53-.312.72L3.72 45.28c-.19.188-.47.312-.72.312s-.53-.125-.72-.312L.72 43.72c-.19-.188-.313-.438-.313-.72 0-.25.125-.53.312-.718L13 30.002.72 17.72c-.19-.188-.313-.47-.313-.72s.125-.53.312-.718l1.56-1.562c.19-.188.47-.312.72-.312s.53.125.72.312L18.28 29.283c.188.188.312.47.312.72z',
		viewport: 19 56
	),
	angle-up: (
		path: 'M33.594 37c0 .25-.125.53-.312.72l-1.562 1.56c-.188.19-.438.313-.72.313-.25 0-.53-.125-.718-.312L18.002 27 5.72 39.28c-.188.19-.47.313-.72.313s-.53-.125-.718-.312L2.72 37.72c-.188-.19-.312-.47-.312-.72s.125-.53.312-.72L17.283 21.72c.188-.188.47-.312.72-.312s.53.125.718.312L33.285 36.28c.188.19.312.47.312.72z',
		viewport: 36 56
	),
	ban: (
		path: 'M41 27.906c0-3.406-1-6.563-2.72-9.22L14.72 42.22c2.687 1.75 5.874 2.78 9.28 2.78 9.375 0 17-7.655 17-17.093zM9.78 37.25l23.595-23.562c-2.688-1.813-5.906-2.844-9.375-2.844-9.375 0-17 7.656-17 17.063 0 3.47 1.03 6.656 2.78 9.344zM48 27.906C48 41.22 37.25 52 24 52S0 41.22 0 27.906C0 14.626 10.75 3.843 24 3.843s24 10.78 24 24.063z',
		viewport: 48 56
	),
	check: (
		path: 'M52.22 17.688c0 .78-.313 1.562-.876 2.125L24.47 46.688c-.564.563-1.345.875-2.126.875s-1.562-.312-2.125-.875L4.656 31.126c-.563-.563-.875-1.344-.875-2.125s.312-1.56.875-2.124l4.25-4.25c.563-.563 1.344-.875 2.125-.875s1.562.313 2.125.876l9.188 9.22 20.5-20.532c.563-.563 1.344-.875 2.125-.875s1.562.31 2.125.874l4.25 4.25c.563.563.875 1.344.875 2.125z',
		viewport: 56 56
	),
	check-thin: (
		path: 'M21 37.734l24.719-24.719L49 16.296l-28 28L7.984 31.28l3.281-3.281z',
		viewport: 56 56
	),
	chevron-down: (
		path: 'M52.594 25.25L29.406 48.406c-.78.78-2.03.78-2.813 0L3.405 25.25c-.78-.78-.78-2.062 0-2.844l5.187-5.156c.78-.78 2.03-.78 2.813 0L28 33.844 44.592 17.25c.78-.78 2.03-.78 2.813 0l5.187 5.156c.78.78.78 2.062 0 2.844z',
		viewport: 56 56
	),
	chevron-left: (
		path: 'M36.594 9.406L20 26l16.594 16.594c.78.78.78 2.03 0 2.813l-5.187 5.187c-.78.78-2.03.78-2.813 0L5.406 27.407c-.78-.78-.78-2.03 0-2.813L28.594 1.406c.78-.78 2.03-.78 2.813 0l5.187 5.187c.78.78.78 2.03 0 2.813z',
		viewport: 42 56
	),
	chevron-right: (
		path: 'M34.594 27.406L11.406 50.594c-.78.78-2.03.78-2.813 0l-5.187-5.187c-.78-.78-.78-2.03 0-2.813L20 26 3.406 9.406c-.78-.78-.78-2.03 0-2.813l5.187-5.187c.78-.78 2.03-.78 2.813 0l23.188 23.188c.78.78.78 2.03 0 2.813z',
		viewport: 38 56
	),
	chevron-up: (
		path: 'M52.594 41.594l-5.187 5.156c-.78.78-2.03.78-2.813 0L28 30.156 11.406 46.75c-.78.78-2.03.78-2.813 0l-5.187-5.156c-.78-.78-.78-2.062 0-2.844l23.188-23.156c.78-.78 2.03-.78 2.813 0L52.595 38.75c.78.78.78 2.062 0 2.844z',
		viewport: 56 56
	),
	close: (
		path: 'M40.562 41.313c0 .78-.312 1.562-.875 2.125l-4.25 4.25c-.563.563-1.344.875-2.125.875s-1.562-.312-2.125-.875L22 38.5l-9.19 9.188c-.562.563-1.343.875-2.124.875s-1.562-.312-2.125-.875l-4.25-4.25c-.562-.563-.874-1.344-.874-2.125s.312-1.562.875-2.125L13.5 30l-9.19-9.188c-.562-.563-.874-1.344-.874-2.125s.312-1.562.875-2.125l4.25-4.25c.564-.563 1.345-.875 2.126-.875s1.562.312 2.125.875L22 21.5l9.187-9.188c.563-.563 1.344-.875 2.125-.875s1.562.312 2.125.875l4.25 4.25c.563.563.875 1.344.875 2.125s-.312 1.562-.875 2.125L30.5 30l9.187 9.188c.563.563.875 1.344.875 2.125z',
		viewport: 44 56
	),
	close-thin: (
		path: 'M44.297 14.984L31.281 28l13.016 13.016-3.281 3.281L28 31.281 14.984 44.297l-3.281-3.281L24.719 28 11.703 14.984l3.281-3.281L28 24.719l13.016-13.016z',
		viewport: 56 56
	),
	dollar: (
		path: 'M30.562 37.03c0 6.376-4.563 11.407-11.187 12.5V55c0 .563-.438 1-1 1h-4.22c-.53 0-1-.438-1-1v-5.47c-7.31-1.03-11.31-5.405-11.468-5.593-.312-.375-.344-.906-.063-1.28l3.22-4.22c.155-.22.437-.344.718-.375s.563.063.75.28c.063.032 4.438 4.22 9.97 4.22 3.062 0 6.374-1.625 6.374-5.156 0-3-3.688-4.47-7.906-6.156-5.625-2.22-12.625-5.03-12.625-12.875 0-5.75 4.5-10.5 11.03-11.75V1c0-.563.47-1 1-1h4.22c.563 0 1 .438 1 1v5.5c6.344.72 9.72 4.156 9.844 4.28.31.345.374.813.155 1.188l-2.53 4.563c-.157.282-.407.47-.72.5-.312.064-.594-.03-.844-.218-.03-.03-3.81-3.375-8.5-3.375-3.968 0-6.718 1.97-6.718 4.813 0 3.312 3.812 4.78 8.25 6.5 5.75 2.22 12.25 4.75 12.25 12.28z',
		viewport: 32 56
	),
	envelope: (
		path: 'M56 22.187V47c0 2.75-2.25 5-5 5H5c-2.75 0-5-2.25-5-5V22.186c.938 1.03 2 1.938 3.156 2.72 5.187 3.53 10.437 7.062 15.53 10.78C21.313 37.625 24.563 40 27.97 40h.063c3.407 0 6.657-2.376 9.282-4.313 5.094-3.688 10.344-7.25 15.562-10.78 1.125-.782 2.188-1.688 3.125-2.72zM56 13c0 3.5-2.594 6.656-5.344 8.562-4.875 3.375-9.78 6.75-14.625 10.156-2.03 1.406-5.468 4.28-8 4.28h-.062c-2.53 0-5.97-2.874-8-4.28-4.844-3.406-9.75-6.78-14.594-10.156C3.154 20.062 0 16.532 0 13.687 0 10.624 1.654 8 5 8h46c2.718 0 5 2.25 5 5z',
		viewport: 56 56
	),
	exclamation-circle: (
		path: 'M24 4c13.25 0 24 10.75 24 24S37.25 52 24 52 0 41.25 0 28 10.75 4 24 4zm4 38.97V37.03c0-.563-.438-1.03-.97-1.03h-6c-.562 0-1.03.468-1.03 1.03v5.937c0 .562.47 1.03 1.03 1.03h6c.532 0 .97-.47.97-1.03zm-.063-10.75l.563-19.407c0-.22-.094-.438-.312-.563-.188-.156-.47-.25-.75-.25h-6.875c-.28 0-.563.094-.75.25-.22.125-.312.344-.312.563l.532 19.406c0 .437.47.78 1.063.78h5.78c.564 0 1.032-.344 1.064-.78z',
		viewport: 48 56
	),
	filter: (
		path: 'M 118.00,104.00 C 118.00,104.00 117.00,87.00 117.00,87.00 117.00,87.00 117.00,31.00 117.00,31.00 117.01,26.17 116.98,20.04 120.43,16.23 125.02,11.14 133.55,12.37 137.15,18.04 139.22,21.31 138.99,25.29 139.00,29.00 139.00,29.00 139.00,134.00 139.00,134.00 139.00,134.00 118.00,134.00 118.00,134.00 118.00,134.00 118.00,104.00 118.00,104.00 Z M 188.00,29.00 C 188.08,22.45 189.17,14.55 197.00,13.23 208.63,11.27 209.99,22.54 210.00,31.00 210.00,31.00 210.00,79.00 210.00,79.00 210.00,79.00 199.00,78.03 199.00,78.03 199.00,78.03 188.00,79.00 188.00,79.00 188.00,79.00 188.00,29.00 188.00,29.00 Z M 47.00,29.00 C 47.06,24.09 47.61,18.85 52.11,15.85 58.28,11.75 65.77,15.20 68.01,22.00 69.35,26.09 69.00,32.58 69.00,37.00 69.00,37.00 69.00,62.00 69.00,62.00 69.00,62.00 58.00,61.18 58.00,61.18 58.00,61.18 47.00,62.00 47.00,62.00 47.00,62.00 47.00,29.00 47.00,29.00 Z M 66.00,69.36 C 88.90,77.07 88.77,112.50 61.00,117.38 39.71,121.13 25.85,96.53 36.61,79.01 40.38,72.88 46.23,70.07 53.00,68.47 57.89,67.78 61.25,67.76 66.00,69.36 Z M 204.00,133.53 C 180.87,137.90 167.11,113.44 177.61,96.00 181.96,88.78 188.14,86.20 196.00,84.47 227.47,80.80 234.91,127.70 204.00,133.53 Z M 69.00,123.00 C 69.00,123.00 69.00,225.00 69.00,225.00 68.99,230.05 68.72,237.80 65.49,241.89 61.06,247.51 52.63,246.97 48.93,240.95 46.87,237.59 47.01,232.81 47.00,229.00 47.00,229.00 47.00,123.00 47.00,123.00 47.00,123.00 69.00,123.00 69.00,123.00 Z M 150.01,152.00 C 158.06,165.66 149.93,185.88 134.00,188.67 129.14,189.53 121.45,189.23 117.00,187.00 97.42,177.21 98.75,146.25 123.00,140.47 134.11,138.91 144.02,141.84 150.01,152.00 Z M 199.00,140.92 C 199.00,140.92 210.00,140.00 210.00,140.00 210.00,140.00 210.00,229.00 210.00,229.00 209.99,233.30 210.14,238.21 207.30,241.78 203.24,246.87 194.76,246.87 190.70,241.78 188.05,238.46 188.02,234.02 188.00,230.00 188.00,230.00 188.00,140.00 188.00,140.00 188.00,140.00 199.00,140.92 199.00,140.92 Z M 127.00,195.91 C 127.00,195.91 139.00,195.00 139.00,195.00 139.00,195.00 139.00,231.00 139.00,231.00 138.91,238.31 136.28,247.05 127.00,245.62 119.05,244.39 117.09,236.83 117.00,230.00 117.00,230.00 117.00,195.00 117.00,195.00 117.00,195.00 127.00,195.91 127.00,195.91 Z',
		viewport: 256 256
	),
	heart-o: (
		path: 'M52 18.625C52 9.845 46.063 8 41.062 8c-4.656 0-9.906 5.03-11.53 6.97-.75.905-2.314.905-3.064 0C24.843 13.03 19.593 8 14.938 8c-5 0-10.94 1.844-10.94 10.625 0 5.72 5.782 11.03 5.845 11.094L28 47.22l18.124-17.47C46.218 29.656 52 24.344 52 18.625zm4 0c0 7.5-6.875 13.78-7.156 14.063l-19.47 18.75C29 51.813 28.5 52 28 52s-1-.187-1.375-.562l-19.5-18.813c-.25-.22-7.125-6.5-7.125-14C0 9.47 5.594 4 14.938 4 20.408 4 25.532 8.312 28 10.75 30.47 8.313 35.594 4 41.062 4 50.406 4 56 9.47 56 18.625z',
		viewport: 56 56
	),
	heart: (
		path: 'M28 52c-.5 0-1-.188-1.375-.563l-19.5-18.813c-.25-.22-7.125-6.5-7.125-14C0 9.468 5.594 4 14.938 4 20.408 4 25.532 8.31 28 10.75 30.47 8.31 35.594 4 41.062 4 50.406 4 56 9.467 56 18.623c0 7.5-6.875 13.78-7.156 14.063l-19.47 18.75C29 51.812 28.5 52 28 52z',
		viewport: 56 56
	),
	minus: (
		path: 'M44 23v6c0 1.656-1.344 3-3 3H3c-1.656 0-3-1.344-3-3v-6c0-1.656 1.344-3 3-3h38c1.656 0 3 1.344 3 3z',
		viewport: 44 56
	),
	minus-thin: (
		path: 'M44.297 30.297H11.703v-4.594h32.594v4.594z',
		viewport: 56 56
	),
	plus: (
		path: 'M44 23v6c0 1.656-1.344 3-3 3H28v13c0 1.656-1.344 3-3 3h-6c-1.656 0-3-1.344-3-3V32H3c-1.656 0-3-1.344-3-3v-6c0-1.656 1.344-3 3-3h13V7c0-1.656 1.344-3 3-3h6c1.656 0 3 1.344 3 3v13h13c1.656 0 3 1.344 3 3z',
		viewport: 44 56
	),
	plus-thin: (
		path: 'M44.297 30.297h-14v14h-4.594v-14h-14v-4.594h14v-14h4.594v14h14v4.594z',
		viewport: 56 56
	),
	rotate-left: (
		path: 'M48 28c0 13.22-10.78 24-24 24-7.156 0-13.906-3.156-18.47-8.656-.31-.406-.28-1 .064-1.344l4.28-4.312c.22-.188.5-.28.782-.28.28.03.563.155.72.374 3.062 3.97 7.655 6.22 12.624 6.22 8.813 0 16-7.19 16-16s-7.188-16-16-16c-4.094 0-7.97 1.56-10.875 4.28l4.28 4.312c.595.563.75 1.438.44 2.156C17.53 23.5 16.812 24 16 24H2c-1.094 0-2-.906-2-2V8c0-.812.5-1.53 1.25-1.844.72-.312 1.594-.156 2.156.438l4.063 4.03C11.874 6.47 17.843 4 24 4c13.22 0 24 10.78 24 24z',
		viewport: 48 56
	),
	rotate-right: (
		path: 'M48 8v14c0 1.094-.906 2-2 2H32c-.812 0-1.53-.5-1.844-1.25-.312-.72-.156-1.594.438-2.156l4.312-4.312c-2.937-2.72-6.812-4.28-10.906-4.28-8.813 0-16 7.187-16 16s7.188 16 16 16c4.97 0 9.562-2.25 12.625-6.22.156-.22.438-.344.72-.375.28 0 .562.094.78.28L42.405 42c.376.344.376.938.064 1.344C37.905 48.844 31.156 52 24 52 10.78 52 0 41.22 0 28S10.78 4 24 4c6.156 0 12.125 2.47 16.53 6.625l4.064-4.03c.563-.595 1.438-.75 2.188-.44.72.313 1.22 1.032 1.22 1.845z',
		viewport: 48 56
	),
	search: (
		path: 'M36 26c0-7.72-6.28-14-14-14S8 18.28 8 26s6.28 14 14 14 14-6.28 14-14zm16 26c0 2.188-1.813 4-4 4-1.063 0-2.094-.438-2.813-1.187l-10.72-10.688C30.813 46.655 26.438 48 22 48 9.842 48 0 38.156 0 26S9.842 4 22 4s22 9.844 22 22c0 4.438-1.345 8.813-3.876 12.47l10.72 10.718c.718.72 1.155 1.75 1.155 2.813z',
		viewport: 52 56
	),
	sort: (
		path: 'M32 34c0 .53-.22 1.03-.594 1.406l-14 14C17.03 49.78 16.53 50 16 50s-1.03-.22-1.406-.594l-14-14C.22 35.03 0 34.53 0 34c0-1.094.906-2 2-2h28c1.094 0 2 .906 2 2zm0-12c0 1.094-.906 2-2 2H2c-1.094 0-2-.906-2-2 0-.53.22-1.03.594-1.406l14-14C14.97 6.22 15.47 6 16 6s1.03.22 1.406.594l14 14c.375.375.594.875.594 1.406z',
		viewport: 32 56
	),
	spinner: (
		path: 'M8.219 21.781c0 1.094-.891 2-2 2-1.094 0-2-.906-2-2 0-1.109.906-2 2-2 1.109 0 2 .891 2 2zM16 25c0 1.109-.891 2-2 2s-2-.891-2-2 .891-2 2-2 2 .891 2 2zM5 14c0 1.109-.891 2-2 2s-2-.891-2-2 .891-2 2-2 2 .891 2 2zm18.781 7.781c0 1.094-.906 2-2 2-1.109 0-2-.906-2-2 0-1.109.891-2 2-2 1.094 0 2 .891 2 2zM8.719 6.219c0 1.375-1.125 2.5-2.5 2.5s-2.5-1.125-2.5-2.5 1.125-2.5 2.5-2.5 2.5 1.125 2.5 2.5zM27 14c0 1.109-.891 2-2 2s-2-.891-2-2 .891-2 2-2 2 .891 2 2zM17 3a3.001 3.001 0 0 1-6 0 3.001 3.001 0 0 1 6 0zm8.281 3.219c0 1.937-1.578 3.5-3.5 3.5a3.495 3.495 0 0 1-3.5-3.5c0-1.922 1.563-3.5 3.5-3.5 1.922 0 3.5 1.578 3.5 3.5z',
		viewport: 28 28
	),
	star-o: (
		path: 'M35.53 31.375l9.563-9.28-13.188-1.94L26 8.22l-5.907 11.938-13.188 1.938 9.562 9.28-2.28 13.157 11.812-6.218 11.78 6.22zM52 20.22c0 .562-.406 1.093-.812 1.5L39.844 32.78l2.688 15.625c.03.22.03.406.03.625 0 .844-.374 1.562-1.28 1.562-.438 0-.875-.156-1.25-.375l-14.03-7.376L11.97 50.22c-.406.218-.812.374-1.25.374-.906 0-1.313-.75-1.313-1.562 0-.22.03-.406.063-.625l2.688-15.625L.783 21.72c-.375-.407-.78-.94-.78-1.5 0-.94.968-1.314 1.75-1.44l15.686-2.28 7.03-14.22C24.75 1.688 25.282 1 26 1s1.25.687 1.532 1.28l7.03 14.22 15.688 2.28c.75.126 1.75.5 1.75 1.44z',
		viewport: 52 56
	),
	star: (
		path: 'M52 20.22c0 .562-.406 1.093-.812 1.5L39.844 32.78l2.688 15.625c.03.22.03.406.03.625 0 .812-.374 1.562-1.28 1.562-.438 0-.875-.156-1.25-.375l-14.03-7.376L11.97 50.22c-.406.218-.812.374-1.25.374-.906 0-1.313-.75-1.313-1.562 0-.22.03-.406.063-.625l2.688-15.625L.783 21.72c-.375-.407-.78-.94-.78-1.5 0-.94.968-1.314 1.75-1.44l15.686-2.28 7.03-14.22C24.75 1.688 25.282 1 26 1s1.25.687 1.532 1.28l7.03 14.22 15.688 2.28c.75.126 1.75.5 1.75 1.44z',
		viewport: 52 56
	),
	th-large: (
		path: 'M24 32v12c0 2.188-1.813 4-4 4H4c-2.188 0-4-1.813-4-4V32c0-2.188 1.813-4 4-4h16c2.188 0 4 1.813 4 4zm0-24v12c0 2.188-1.813 4-4 4H4c-2.188 0-4-1.813-4-4V8c0-2.188 1.813-4 4-4h16c2.188 0 4 1.813 4 4zm28 24v12c0 2.188-1.813 4-4 4H32c-2.188 0-4-1.813-4-4V32c0-2.188 1.813-4 4-4h16c2.188 0 4 1.813 4 4zm0-24v12c0 2.188-1.813 4-4 4H32c-2.188 0-4-1.813-4-4V8c0-2.188 1.813-4 4-4h16c2.188 0 4 1.813 4 4z',
		viewport: 52 56
	),
	th-list: (
		path: 'M16 39v6c0 1.656-1.344 3-3 3H3c-1.656 0-3-1.344-3-3v-6c0-1.656 1.344-3 3-3h10c1.656 0 3 1.344 3 3zm0-16v6c0 1.656-1.344 3-3 3H3c-1.656 0-3-1.344-3-3v-6c0-1.656 1.344-3 3-3h10c1.656 0 3 1.344 3 3zm40 16v6c0 1.656-1.344 3-3 3H23c-1.656 0-3-1.344-3-3v-6c0-1.656 1.344-3 3-3h30c1.656 0 3 1.344 3 3zM16 7v6c0 1.656-1.344 3-3 3H3c-1.656 0-3-1.344-3-3V7c0-1.656 1.344-3 3-3h10c1.656 0 3 1.344 3 3zm40 16v6c0 1.656-1.344 3-3 3H23c-1.656 0-3-1.344-3-3v-6c0-1.656 1.344-3 3-3h30c1.656 0 3 1.344 3 3zm0-16v6c0 1.656-1.344 3-3 3H23c-1.656 0-3-1.344-3-3V7c0-1.656 1.344-3 3-3h30c1.656 0 3 1.344 3 3z',
		viewport: 56 56
	),
	th: (
		path: 'M16 39v6c0 1.656-1.344 3-3 3H3c-1.656 0-3-1.344-3-3v-6c0-1.656 1.344-3 3-3h10c1.656 0 3 1.344 3 3zm0-16v6c0 1.656-1.344 3-3 3H3c-1.656 0-3-1.344-3-3v-6c0-1.656 1.344-3 3-3h10c1.656 0 3 1.344 3 3zm20 16v6c0 1.656-1.344 3-3 3H23c-1.656 0-3-1.344-3-3v-6c0-1.656 1.344-3 3-3h10c1.656 0 3 1.344 3 3zM16 7v6c0 1.656-1.344 3-3 3H3c-1.656 0-3-1.344-3-3V7c0-1.656 1.344-3 3-3h10c1.656 0 3 1.344 3 3zm20 16v6c0 1.656-1.344 3-3 3H23c-1.656 0-3-1.344-3-3v-6c0-1.656 1.344-3 3-3h10c1.656 0 3 1.344 3 3zm20 16v6c0 1.656-1.344 3-3 3H43c-1.656 0-3-1.344-3-3v-6c0-1.656 1.344-3 3-3h10c1.656 0 3 1.344 3 3zM36 7v6c0 1.656-1.344 3-3 3H23c-1.656 0-3-1.344-3-3V7c0-1.656 1.344-3 3-3h10c1.656 0 3 1.344 3 3zm20 16v6c0 1.656-1.344 3-3 3H43c-1.656 0-3-1.344-3-3v-6c0-1.656 1.344-3 3-3h10c1.656 0 3 1.344 3 3zm0-16v6c0 1.656-1.344 3-3 3H43c-1.656 0-3-1.344-3-3V7c0-1.656 1.344-3 3-3h10c1.656 0 3 1.344 3 3z',
		viewport: 56 56
	),
	video-camera: (
		path: 'M56 11v34c0 .812-.5 1.53-1.22 1.844-.25.094-.53.156-.78.156-.53 0-1.03-.188-1.406-.594L40 33.812V39c0 4.968-4.03 9-9 9H9c-4.97 0-9-4.032-9-9V17c0-4.97 4.03-9 9-9h22c4.97 0 9 4.03 9 9v5.155L52.594 9.593C52.97 9.187 53.47 9 54 9c.25 0 .53.062.78.155C55.5 9.467 56 10.185 56 11z',
		viewport: 56 56
	)
);

// Nested map-get for icons
@function get-icon($type, $key) {
    @return map-get(map-get($icon-map, $type), $key);
}

// Generate icons for display
@mixin ss-icon($type: star, $fill: #000, $stroke: '', $stroke-width: 3, $bgprop: true) {
	// Set path
	$path: map-get($icon-map, star);
	@if (map-has-key($icon-map, $type)) {
		$path: get-icon($type, path);
	}

	// Set viewport
	$viewport: map-get($icon-map, star);
	@if (map-has-key($icon-map, $type)) {
		$viewport: get-icon($type, viewport);
	}

	// Should the svg have a path or not?
	$svg: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 ' + $viewport + '" preserveAspectRatio="xMinYMid"><path fill="' + $fill + '" d="' + $path + '"/></svg>';
	@if $stroke != '' {
		$svg: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 ' + $viewport + '" preserveAspectRatio="xMinYMid"><path fill="' + $fill + '" stroke="' + $stroke + '" stroke-width="' + $stroke-width + '" d="' + $path + '"/></svg>';
	}

	@if ($bgprop == true) {
		background-repeat: no-repeat;
		background-position: center center;
	}

	background-image: svg-url($svg);
}
