<!-- Results & No Results -->
<script type="text/ss-template" target=".content-target-selector">
	<div ng-if="pagination.totalResults" class="searchspring-results">
		<h2 ng-if="pagination.totalResults > 1" class="results-title">
			Showing {{ pagination.begin }} - {{ pagination.end }} of {{ pagination.totalResults }} <span ng-if="q">search results for "{{ q }}"</span><span ng-if="!q">items</span>
		</h2>   
		<h2 ng-if="pagination.totalResults == 1" class="results-title">
			Showing 1 <span ng-if="q">search result for "{{ q }}"</span><span ng-if="!q">item</span>
		</h2>	 
		<div ng-if="filterSummary.length" class="mobile-summary">
			<div class="searchspring-summary"></div> 
		</div>	  
		<div ng-if="facets.length > 0" class="searchspring-slideout_button searchspring-slideout_filter" slideout>
			<span class="searchspring-slideout_button_icon"></span>
			<span class="searchspring-slideout_button_text">Filter Options</span>
		</div>		   
		<div id="searchspring-merch_header" ss-merchandising="header"></div>
		<div id="searchspring-merch_banner" ss-merchandising="banner"></div>		  
		<div class="searchspring-items"></div>
		<div id="searchspring-merch_footer" ss-merchandising="footer"></div>
	</div>
	<div ng-if="pagination.totalResults === 0" class="searchspring-no_results"></div>	  
</script>

<!-- Results - Items -->
<script type="text/ss-template" target=".searchspring-items">
	<div ng-repeat="result in results" class="item">
		<a ng-href="{{ result.url }}" intellisuggest>
			<img ng-src="{{ result.thumbnailImageUrl ? result.thumbnailImageUrl : '//cdn.searchspring.net/ajax_search/img/default_image.png' }}" onerror="this.src='//cdn.searchspring.net/ajax_search/img/default_image.png';" alt="{{ result.name }}" title="{{ result.name }}" />
		</a>
		<p><a ng-href="{{ result.url }}" intellisuggest>{{ result.name }}</a></p>
		<p ng-if="(result.msrp * 1) > (result.price * 1) && result.msrp">
			<strike>Retail: ${{ result.msrp | number:2 }}</strike><br />
			Sale: ${{ result.price | number:2 }}
		</p>
		<p ng-if="(result.msrp * 1) <= (result.price * 1) || !result.msrp">
			${{ result.price | number:2 }}
		</p>
	</div>
</script>

<!-- No Results Template -->
<script type="text/ss-template" target=".searchspring-no_results">	  
	<h3 ng-if="!q">No results found.</h3>
	<h3 ng-if="q">Your search for "{{ q }}" returned no results.</h3>
	<p class="did-you-mean" ng-if="didYouMean.query.length">
		Did you mean <a href="{{ location().remove('q').add('q', didYouMean.query).url() }}">{{ didYouMean.query }}</a>?
	</p>
	<div ng-if="filterSummary.length" class="mobile-summary">
		<div class="searchspring-summary"></div> 
		<div ng-if="facets.length === 0" class="searchspring-filter_messages"></div> 
	</div>
	<p><strong>Suggestions</strong></p>
	<ul>
		<li>Check for misspellings.</li>
		<li>Remove possible redundant keywords (ie. "products").</li>
		<li>Use other words to describe what you are searching for.</li>
	</ul>
	<p>Still can't find what you're looking for? <a href="/urlhere.html">Contact us</a>.</p>
	<div class="contact address">
		<h4>Address</h4>
		<p>1234 Random Street<br />Some City, XX, 12345</p>
	</div>
	<div class="contact hours">
		<h4>Hours</h4>
		<p>
			Mon - Sat, 00:00am - 00:00pm<br />
			Sun, 00:00am - 00:00pm
		</p>
	</div>
	<div class="contact phone">
		<h4>Call Us</h4>
		<p>
			<strong>Telephone:</strong> 123-456-7890<br />
			<strong>Toll Free:</strong> 123-456-7890
		</p>
	</div> 
	<div class="contact email">
		<h4>Email</h4>
		<p><a href="mailto:email@sitename.com">email@sitename.com</a></p>
	</div> 			  
</script>

<!-- Facets & Summary -->
<script type="text/ss-template" target=".sidebar-target-selector">
	<div ng-if="filterSummary.length" class="searchspring-summary"></div>
	<div ng-if="facets.length" class="searchspring-facets"></div>
	<div ng-if="facets.length === 0" class="searchspring-filter_messages"></div>		
</script>

<!-- Filter Messages -->
<script type="text/ss-template" target=".searchspring-filter_messages">
	<h3 ng-if="filterSummary.length === 0">Sorry</h3> 
	<p ng-if="pagination.totalResults === 0 && filterSummary.length === 0">
		There are no results to refine! If you need additional help, please try our "<strong>Suggestions</strong>" to the right.
	</p>
	<p ng-if="pagination.totalResults === 0 && filterSummary.length" class="{{ summaryClass }}">
		If you're not seeing any results, try removing some of your selected filters above.
	</p> 
	<p ng-if="pagination.totalResults && filterSummary.length === 0">
		There are no filters to refine by! Perhaps try a new search?
	</p>   
</script>

<!-- Facets -->
<script type="text/ss-template" target=".searchspring-facets">
	<h3 class="searchspring-facets_title">Shop By</h3>
	<div ng-repeat="facet in facets" ng-switch="facet.type" ng-if="(facet.type == 'hierarchy' ? facet.values.length : true)" id="searchspring-{{ facet.field }}" class="facet-container element-container {{ facet.type ? facet.type : 'list' }}">
		<h4 class="facet-title" title="{{ facet.label }}" ng-click="facet.collapse = !facet.collapse" ng-class="{'open': !facet.collapse}">
			{{ facet.label }}
		</h4> 
		<ul ng-switch-when="hierarchy">
			<li ng-repeat="value in facet.values | limitTo:facet.overflow.limit" ng-class="{'filtered-current': value.active, 'filtered-link': value.history && !value.active}">
				<a ng-if="!value.active" ng-href="{{ value.url }}" title="{{ value.label }}">
					{{ value.label }} <span ng-if="!value.history" class="facet-count">({{ value.count }})</span>
				</a>
				<span ng-if="value.active" title="{{ value.label }}">{{ value.label }}</span>
			</li>
		</ul>
		<ul ng-switch-when="grid" class="ss-cf">
			<li ng-repeat="value in facet.values | limitTo:facet.overflow.limit">
				<a href="{{ value.url }}" ng-class="{'highlight': value.active}">{{ value.label }}</a>  
			</li>
		</ul>
		<ul ng-switch-when="palette" class="ss-cf">
			<li ng-repeat="value in facet.values | limitTo:facet.overflow.limit">
				<a ng-class="{'highlight': value.active}" alt="{{ value.label }}" title="{{ value.label }}" href="{{ value.url }}">
					<span ng-style="{'background-color': value.label.toLowerCase() }" class="searchspring-color_{{ value.label.toLowerCase() }}"></span>
				</a> 
			</li>
		</ul>
		<ul ng-switch-when="slider">
			<li ss-facet-slider="facet" class="slider-wrapper"></li>
			<li class="reset-slider searchspring-toggle">
				<a ng-if="facet.facet_active" ng-href="{{ location().remove('filter', facet.field).url() }}">Reset</a>
			</li>
		</ul>
		<ul ng-switch-default>
			<li ng-repeat="value in facet.values | limitTo:facet.overflow.limit">
				<a href="{{ value.url }}" ng-class="{'highlight': value.active}">
					{{ value.label }} <span class="facet-count">({{ value.count }})</span>
				</a>
			</li>
		</ul>
		<div ng-if="facet.overflow.set(facet.type == 'hierarchy' ? 9999 : 10).count" class="show-more searchspring-toggle">
			<a ng-click="facet.overflow.toggle()">
				Show {{ facet.overflow.remaining ? 'More +' : 'Less -' }}
			</a>
		</div>		   
	</div>
	<div id="searchspring-merch_left" ss-merchandising="left"></div>
</script>

<!-- Summary -->
<script type="text/ss-template" target=".searchspring-summary">
	<h3 class="searchspring-summary_title">Current Filters</h3>
	<div class="summary-container element-container">
		<ul>
			<li ng-repeat="filter in filterSummary">
				<a href="{{ filter.remove.url }}">
					<span class="summary-label">{{ filter.filterLabel }}:</span> <span class="summary-value">{{ filter.filterValue }}</span>
				</a>
			</li>			   
		</ul>
		<div ng-if="filterSummary.length > 1" class="reset-summary searchspring-toggle">
			<a href="{{ location().remove('filter').remove('rq').url() }}">Clear All</a>
		</div>
	</div>
</script>

<!-- Slideout -->
<script type="text/ss-template" slideout>
	<div ng-if="facets.length > 0" id="searchspring-slideout_header">
		<h4>Filter Options</h4><a class="searchspring-slideout_button" href="" slideout></a>
	</div>
	<div ng-if="facets.length > 0" id="searchspring-slideout_facets" ng-swipe-left="slideout.toggleSlideout()">
		<div class="searchspring-facets"></div>
	</div>
</script>  	